<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Caesar's Salad</h1>
      <p>Decrypt away</p>

      <form action="/output" method="get">
        <textarea name="query" id="" cols="30" rows="10" class="form-control"></textarea>
        <input type="submit" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>


